In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
for i in   range(1,10):
        print(i)

1
2
3
4
5
6
7
8
9

In [18]:
A =['a','b','c','d','e']

print(A[-5:])
print(A[0:])

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

In [20]:
set={1,1,2,3}
print(set)

{1, 2, 3}

In [22]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    print(a,b)
    if a > amax:
        break
    L.append(a)

print(L)

1 1
1 2
2 3
3 5
5 8
8 13
13 21
21 34
34 55
55 89
89 144
144 233
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [4]:
a = {1:2,3:4}
b = ('a','b')
c = [True, False]
b=a
a=c
c=b
print(c)

{1: 2, 3: 4}

In [37]:
#Assignment

books = ["Sapiens", "Iliad"]

#Assigning one variable to another

favBooks = books

#appending a new book to favBooks

favBooks.append("Odyssey")

print(books)
print(favBooks)
print(books==favBooks)
print(books is favBooks)

['Sapiens', 'Iliad', 'Odyssey']
['Sapiens', 'Iliad', 'Odyssey']
True
True

In [51]:
x=[1,2,3]
def function(y):
    y*=2
    print(y)
    print(y==x)
print(x)
function([1,2,3])

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
False

In [49]:
x=(1,2,3)
def function(y):
    y*=2
    print(y)
    print(y==x)
print(x)
function((1,2,3))

(1, 2, 3)
(1, 2, 3, 1, 2, 3)
False

In [45]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)
    
inputs = (1, 2, 3)
keywords = {'pi': 3.14}

catch_all(*inputs, **keywords)

catch_all(inputs, keywords)

catch_all(1,2, e="a")

args = (1, 2, 3)
kwargs =  {'pi': 3.14}
args = ((1, 2, 3), {'pi': 3.14})
kwargs =  {}
args = (1, 2)
kwargs =  {'e': 'a'}

In [56]:
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return 1E100
    except TypeError:
        return "Type mismatch"

safe_divide(1,'2')

'Type mismatch'

In [62]:
class MySpecialError(ValueError):
    pass

raise MySpecialError("here's the message")

MySpecialError: here's the message

In [63]:
try:
    print("do something")
    raise MySpecialError("[informative error message here]")
except MySpecialError:
    print("do something else")

do something
do something else

In [64]:
print(range(10))
print(*range(10))

range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [68]:
print(map(lambda x: x ** 2, range(10)))
print(*map(lambda x: x ** 2, range(10)))

<map object at 0x000001B74235D790>
0 1 4 9 16 25 36 49 64 81

In [75]:
L1 = (1, 2, 3, 4)
L2 = ('a', 'b', 'c', 'd')
z = zip(L1, L2)
new_L1, new_L2 = zip(*z)
print(new_L1, new_L2)

(1, 2, 3, 4) ('a', 'b', 'c', 'd')

In [52]:
import pandas as pd
s = pd.Series(range(50), index=pd.date_range('2020-01-01', periods=50, freq='1D'))
con = s.size%5==0
print(s.rolling(window='5D').std())
print(s.rolling(window='5D').cov())
s.rolling(window='5D').corr()

2020-01-01         NaN
2020-01-02    0.707107
2020-01-03    1.000000
2020-01-04    1.290994
2020-01-05    1.581139
2020-01-06    1.581139
2020-01-07    1.581139
2020-01-08    1.581139
2020-01-09    1.581139
2020-01-10    1.581139
2020-01-11    1.581139
2020-01-12    1.581139
2020-01-13    1.581139
2020-01-14    1.581139
2020-01-15    1.581139
2020-01-16    1.581139
2020-01-17    1.581139
2020-01-18    1.581139
2020-01-19    1.581139
2020-01-20    1.581139
2020-01-21    1.581139
2020-01-22    1.581139
2020-01-23    1.581139
2020-01-24    1.581139
2020-01-25    1.581139
2020-01-26    1.581139
2020-01-27    1.581139
2020-01-28    1.581139
2020-01-29    1.581139
2020-01-30    1.581139
2020-01-31    1.581139
2020-02-01    1.581139
2020-02-02    1.581139
2020-02-03    1.581139
2020-02-04    1.581139
2020-02-05    1.581139
2020-02-06    1.581139
2020-02-07    1.581139
2020-02-08    1.581139
2020-02-09    1.581139
2020-02-10    1.581139
2020-02-11    1.581139
2020-02-12    1.581139
2020-02-13    1.581139
2020-02-14    1.581139
2020-02-15    1.581139
2020-02-16    1.581139
2020-02-17    1.581139
2020-02-18    1.581139
2020-02-19    1.581139
Freq: D, dtype: float64
2020-01-01         NaN
2020-01-02    0.500000
2020-01-03    1.000000
2020-01-04    1.666667
2020-01-05    2.500000
2020-01-06    2.500000
2020-01-07    2.500000
2020-01-08    2.500000
2020-01-09    2.500000
2020-01-10    2.500000
2020-01-11    2.500000
2020-01-12    2.500000
2020-01-13    2.500000
2020-01-14    2.500000
2020-01-15    2.500000
2020-01-16    2.500000
2020-01-17    2.500000
2020-01-18    2.500000
2020-01-19    2.500000
2020-01-20    2.500000
2020-01-21    2.500000
2020-01-22    2.500000
2020-01-23    2.500000
2020-01-24    2.500000
2020-01-25    2.500000
2020-01-26    2.500000
2020-01-27    2.500000
2020-01-28    2.500000
2020-01-29    2.500000
2020-01-30    2.500000
2020-01-31    2.500000
2020-02-01    2.500000
2020-02-02    2.500000
2020-02-03    2.500000
2020-02-04    2.500000
2020-02-05    2.500000
2020-02-06    2.500000
2020-02-07    2.500000
2020-02-08    2.500000
2020-02-09    2.500000
2020-02-10    2.500000
2020-02-11    2.500000
2020-02-12    2.500000
2020-02-13    2.500000
2020-02-14    2.500000
2020-02-15    2.500000
2020-02-16    2.500000
2020-02-17    2.500000
2020-02-18    2.500000
2020-02-19    2.500000
Freq: D, dtype: float64

2020-01-01    NaN
2020-01-02    1.0
2020-01-03    1.0
2020-01-04    1.0
2020-01-05    1.0
2020-01-06    1.0
2020-01-07    1.0
2020-01-08    1.0
2020-01-09    1.0
2020-01-10    1.0
2020-01-11    1.0
2020-01-12    1.0
2020-01-13    1.0
2020-01-14    1.0
2020-01-15    1.0
2020-01-16    1.0
2020-01-17    1.0
2020-01-18    1.0
2020-01-19    1.0
2020-01-20    1.0
2020-01-21    1.0
2020-01-22    1.0
2020-01-23    1.0
2020-01-24    1.0
2020-01-25    1.0
2020-01-26    1.0
2020-01-27    1.0
2020-01-28    1.0
2020-01-29    1.0
2020-01-30    1.0
2020-01-31    1.0
2020-02-01    1.0
2020-02-02    1.0
2020-02-03    1.0
2020-02-04    1.0
2020-02-05    1.0
2020-02-06    1.0
2020-02-07    1.0
2020-02-08    1.0
2020-02-09    1.0
2020-02-10    1.0
2020-02-11    1.0
2020-02-12    1.0
2020-02-13    1.0
2020-02-14    1.0
2020-02-15    1.0
2020-02-16    1.0
2020-02-17    1.0
2020-02-18    1.0
2020-02-19    1.0
Freq: D, dtype: float64